@font-face {
  font-family: 'GraphikLCGRegular';
  src:  url('../assets/fonts/GraphikLCGRegular/GraphikLCGRegular.woff2') format('woff2'),
  url('../assets/fonts/GraphikLCGRegular/GraphikLCGRegular.woff') format('woff'),
  url('../assets/fonts/GraphikLCGRegular/GraphikLCGRegular.eot'),
  url('../assets/fonts/GraphikLCGRegular/GraphikLCGRegular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/GraphikLCGRegular/GraphikLCGRegular.ttf') format('truetype'),
  url('../assets/fonts/GraphikLCGRegular/GraphikLCGRegular.svg') format('svg');
}

@font-face {
  font-family: 'GraphikLCGSemibold';
  src:  url('../assets/fonts/GraphikLCGSemibold/GraphikLCGSemibold.woff2') format('woff2'),
  url('../assets/fonts/GraphikLCGSemibold/GraphikLCGSemibold.woff') format('woff'),
  url('../assets/fonts/GraphikLCGSemibold/GraphikLCGSemibold.eot'),
  url('../assets/fonts/GraphikLCGSemibold/GraphikLCGSemibold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/GraphikLCGSemibold/GraphikLCGSemibold.ttf') format('truetype'),
  url('../assets/fonts/GraphikLCGSemibold/GraphikLCGSemibold.svg') format('svg');
}