// Colors
$primary: #FF6336;
$white: #FFFFFF;
$black: #000000;
$primaryBackground: #FF9C7D;
$paleBackground: #FFF8E4;
$skyBackground: #C9E8F2;
$darkTaleBackground: #DABC98;
$gray: #CCCCCC;

$border: rgba($black, 0.5);



// Fonts

$Regular: 'GraphikLCGRegular', sans-serif;
$SemiBold: 'GraphikLCGSemibold', sans-serif;